<div ui-view="">
    <div class="card">

        <div class="card-header">
        <div class="container">
            
            <span class="title">{{'pokedex_view_TITLE' | translate}}</span>
    
            <div ng-show="!isLoading && pokemons" class="pull-right ml-4 dropdown">
                
                <a href="javascript:;" class="pull-right" data-toggle="dropdown"><i class="fa fa-sort"></i></a>
                
                <div class="dropdown-menu dropdown-menu-right">
                    
    	            <a href="javascript:;" class="dropdown-item" ng-click="sort('name');">{{'pokemon_sort_NAME' | translate}}</a>
    	            <a href="javascript:;" class="dropdown-item" ng-click="sort('percent');">{{'pokemon_sort_PERCENT' | translate}}</a>
    	            <a href="javascript:;" class="dropdown-item" ng-click="sort('attack');">{{'pokemon_sort_ATTACK' | translate}}</a>
    	            <a href="javascript:;" class="dropdown-item" ng-click="sort('defense');">{{'pokemon_sort_DEFENSE' | translate}}</a>
    	            <a href="javascript:;" class="dropdown-item" ng-click="sort('stigmata');">{{'pokemon_sort_STIGMATA' | translate}}</a>
    	            <a href="javascript:;" class="dropdown-item" ng-click="sort('dexnumber');">{{'pokemon_sort_DEXNUMBER' | translate}}</a>
    	            
                </div>
    
            </div>
                
            <a class="pull-right ml-4" ui-sref="app.pokedex.add"><i class="fa fa-plus-square"></i></a>
                
            <a class="pull-right" ui-sref="app.profile"><i class="fa fa-user"></i></a>
            
        </div>
        </div>
    
        <div class="card-block">
        <div class="container">
            
            <div ng-show="isLoading" class="text-center">
                <img src="/static/front/img/loading.gif" height="64"/>
            </div>
            
            <div ng-show="!isLoading && (!pokemons || !pokemons.length)">
                <div class="alert alert-info mb-0 text-center">
                    {{'pokedex_view_NOPOKEMON' | translate}}
                    <a class="highlight ml-1" ui-sref="app.pokedex.add"><i class="fa fa-plus-square"></i></a>
                </div>
            </div>
            
            <div ng-show="!isLoading && pokemons && pokemons.length" class="row" style="margin-right:-5px; margin-left:-5px;">
    
                <div class="col-md-2 col-4 mb-3 px-2" ng-repeat="item in pokemons">
                    <a ui-sref="app.pokemon({ref:item.ref})" class="normal d-block text-center p-2" style="line-height:1;">
                        
                        <img ng-src="/static/front/img/{{item.code}}.png" width="48" height="48" class="mb-1">
                        
                        <div class="mb-1"><strong>{{item.name}}</strong></div>

                        <div><small>{{item.percent}}%</small></div>
                        <div><small>IV {{item.attack}}/{{item.defense}}/{{item.stigmata}}</small></div>
                        
                    </a>
                </div>
                
            </div>
            
        </div>
        </div>
        
    </div>
</div>