<div class="loading" ng-show="isLoading">
	<img src="/static/front/img/loading.gif" />
</div>

<div ng-show="!isLoading">
    
    <section ng-if="!data.pokemon">
    
        <div class="text-center text-danger">
            {{'pokemon_NOPOKEMON' | translate}}
        </div>
        
    </section>
    
    <div ng-if="data.pokemon">
        
        <section>

            <article>
                
                <div class="text-center mb-3" ng-if="!data.owner.is_owned">
                    {{'pokemon_OWNERBY' | translate}} <strong>{{data.owner.name}}</strong>
                </div>
                
                <div class="text-center mb-3">
                    <img ng-src="/static/front/img/{{data.pokemon.code}}.png" width="128" height="128">
                </div>
            
            	<div class="text-center" ng-if='!data.owner.is_owned'>
            	    {{data.pokemon.name}}
            	</div>
            	
            	<dl class="edit" ng-if='data.owner.is_owned'>
            		<dd class="text-center" ng-show="!editname" ng-click="nameClick();">
            			{{data.pokemon.name}}
                        <i class="fa fa-edit"></i>
                        <div class="loading" ng-show="loadingname" >
                        	<img src="/static/front/img/loading.gif" />
                        </div>
                    </dd>
            		<input type="text" id="input-name" class="form-control text-center" ng-model="newname" ng-show="editname" ng-blur="nameBlur();" />
            	</dl>
            
            </article>
            
            <article>
                
                <div class="grid-row mb-2">
                    
                    <div class="cell text-center">
                        <img src="/static/front/img/glave.svg" width="16" height="16">
                        {{data.pokemon.attack}}
                    </div>
                    
                    <div class="cell text-center">
                        <img src="/static/front/img/sheild.svg" width="16" height="16">
                        {{data.pokemon.defense}}
                    </div>
            
                    <div class="cell text-center">
                        <img src="/static/front/img/heart.svg" width="16" height="16">
                        {{data.pokemon.stigmata}}
                    </div>
            
            	</div>
            
                <div class="text-center">
                    {{data.pokemon.percent}}%
                </div>
                    
            </article>
            
            <article>
            
                <dl>
                    <dt>{{'pokemon_HP' | translate}}</dt>
                    <dd>
                        {{data.pokemon.hp}}
                    </dd>
                </dl>
        
                <dl>
                    <dt>{{'pokemon_CP' | translate}}</dt>
                    <dd>
                        {{data.pokemon.cp}}
                    </dd>
                </dl>
        
                <dl class="mb-3">
                    <dt>{{'pokemon_LEVEL' | translate}}</dt>
                    <dd>
                        {{data.pokemon.level}}
                    </dd>
                </dl>
                
            </article>
            
        </section>
        
        <section ng-if="data.owner.is_owned">
            
            <article>
                
                <div class="form-group">
                    
                    <label>{{'pokemon_SHARELINK' | translate}}</label>
                    
                    <div class="input-group">
                        <input type="text" class="form-control" value="https://www.mypogodex.com/pokemon/{{data.pokemon.ref}}" readonly id="js-copytext" ng-focus="selectShareLink();">
                        <span class="input-group-addon button" ng-click="copyToClipboard();">
                            <i class="fa fa-clipboard"></i>
                        </span>
                    </div>
                    
                </div>
                
            </article>
        
        </section>
        
        <section ng-if="data.owner.is_owned">
            
            <article class="grid-row center">
                
                <div class="form-group">
                    <a href="javascript:;" class="btn btn-secondary" ng-click="delete(data.pokemon.ref);">
                        {{'pokemon_DELETELINK' | translate}}
                    </a>
                </div>
                
            </article>
        
        </section>

    </div>

</div>