<section ng-if='!user.authenticated'>
	
	<div class="text-danger text-center">
		{{'restricted_TEXT' | translate}}
	</div>

</section>

<section ng-if='user.authenticated'>
	
	<article>
	
		<dl class="edit">
	        <dt ng-show="!editname" ng-click="nameClick();">{{'profile_NAME' | translate}}</dt>
			<dd ng-show="!editname" ng-click="nameClick();">
				{{user.name}}
	            <i class="fa fa-edit"></i>
	            <div class="loading" ng-show="loadingname">
	            	<img src="/static/front/img/loading.gif" />
	            </div>
	        </dd>
			<input id="input-name" type="text" class="form-control" ng-model="newname" ng-show="editname" ng-blur="nameBlur(newname);" />
		</dl>
		
		<dl class="edit">
	        <dt ng-show="!editteam" ng-click="teamClick();">{{'profile_TEAM' | translate}}</dt>
			<dd ng-show="!editteam" ng-click="teamClick();">
				<img class="img-icon mr-1" ng-if="user.team" ng-src="/static/front/img/team_{{user.team}}.svg" />
				<span ng-if="user.team">{{'team_' + user.team | translate}}</span>
	            <i class="fa fa-edit"></i>
	            <div class="loading" ng-show="loadingteam">
	            	<img src="/static/front/img/loading.gif" />
	            </div>
	        </dd>
			<div class="cell text-center" ng-show="editteam" ng-click="teamBlur('red');">
				<input type="radio" ng-model="teamred" ng-checked="newteam == 'red'" />
				<img class="img-icon mr-1" ng-src="/static/front/img/team_red.svg" />
				{{'team_red' | translate}}
			</div>
			<div class="cell text-center" ng-show="editteam" ng-click="teamBlur('blue');">
				<input type="radio" ng-model="teamblue" ng-checked="newteam == 'blue'" />
				<img class="img-icon mr-1" ng-src="/static/front/img/team_blue.svg" />
				{{'team_blue' | translate}}
			</div>
			<div class="cell text-center" ng-show="editteam" ng-click="teamBlur('yellow');" >
				<input type="radio" ng-model="teamyellow" ng-checked="newteam == 'yellow'" />
				<img class="img-icon mr-1" ng-src="/static/front/img/team_yellow.svg" />
				{{'team_yellow' | translate}}
			</div>
		</dl>
	
		<dl class="edit">
	        <dt ng-show="!editlevel" ng-click="levelClick();">{{'profile_LEVEL' | translate}}</dt>
			<dd ng-show="!editlevel" ng-click="levelClick();">
				{{user.level}}
	            <i class="fa fa-edit"></i>
	            <div class="loading" ng-show="loadinglevel">
	            	<img src="/static/front/img/loading.gif" />
	            </div>
	        </dd>
			<select-list id="'input-level'" style="width:100%" ng-show="editlevel" model="newlevel" list="levellist" callback="levelBlur" />
		</dl>
		
	</article>

</section>