<div class="container base">

	<a ui-sref="base.welcome" class="d-block text-center mt-4 mb-4">
	    <img src="/static/img/logo.png" width="64" height="64" style="opacity:.75;" />
	    <h3>PoGoDex</h3>
	</a>
	        
	<div class="text-center mb-4" ng-controller="LangCtrl">
		
		<a class="ml-2" href="javascript:;" ng-click="changeLanguage('fr')"><img src="/static/img/blank.gif" class="flag flag-fr" /></a>
		<a class="ml-2" href="javascript:;" ng-click="changeLanguage('en')"><img src="/static/img/blank.gif" class="flag flag-gb" /></a>
		
	</div>
	
	<div ui-view=""></div>
	
</div>