<div class="card">

    <div class="card-header">

        <a ui-sref="app.pokedex.view" class="mr-2"><i class="fa fa-arrow-circle-left"></i></a>
        
        <span class="title">{{pokemon.name}}</span>
        
        <a ng-show="!isLoading && pokemon" ui-sref="app.pokemon.edit({ref:pokemon.ref})" class="pull-right ml-3"><i class="fa fa-pencil-square-o"></i></a>
        
        <a ng-show="!isLoading && pokemon" href="javascript:;" class="pull-right" data-toggle="modal" data-target="#myModal"><i class="fa fa-trash"></i></a>
        
        <div class="modal fade" id="myModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    
                    <div class="modal-header">
                        
                        <div class="title">{{'pokemon_delete_CONFIRM' | translate}}</div>
                        
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        
                    </div>
                    
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{'btn_NO' | translate}}</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="delete();">{{'btn_YES' | translate}}</button>
                    </div>
                    
                </div>
            </div>
        </div>
        
    </div>
    
    <div class="card-block">
       
        <div ng-show="isLoading || isProfileLoading" class="text-center">
            <img src="/static/img/loading.gif" height="64" />
        </div>
        
        <div ng-show="!isLoading && !isProfileLoading && !pokemon">{{'pokemon_view_NOPOKEMON' | translate}}</div>
        
        <div ng-show="!isLoading && !isProfileLoading && pokemon">
            
            <p class="text-center">
                <img ng-src="/static/img/{{pokemon.code}}.png" width="128" height="128">
            </p>
            
            <div class="row mb-2">
                
                <div class="col-4 text-center">
                    <img src="/static/img/glave.svg" width="16" height="16">
                    {{pokemon.attack}}
                </div>
                
                <div class="col-4 text-center">
                    <img src="/static/img/sheild.svg" width="16" height="16">
                    {{pokemon.defense}}
                </div>
        
                <div class="col-4 text-center">
                    <img src="/static/img/heart.svg" width="16" height="16">
                    {{pokemon.stigmata}}
                </div>
    
        	</div>
        	
            <div class="progress mb-1">
                <div class="progress-bar" style=" height: 3px; width:{{pokemon.percent}}%"></div>
            </div>

            <div class="text-center">
                {{pokemon.percent}}%
            </div>
            
        </div>
    
    </div>
    
</div>

<div ng-show="!isLoading && !isProfileLoading && pokemon" class="card">
    
    <div class="card-header">
        <span class="title">{{'pokemon_view_CURRENT' | translate}}</span>
    </div>
    
    <div class="card-block">
        
        <div ng-if="!profile.level" class="alert alert-danger text-center m-0">
            <small>
                {{'pokemon_view_NOSTATUS' | translate}}
                <br><a ui-sref="app.profile.edit" class="highlight">{{'pokemon_view_PROFILELINK' | translate}}</a>
            </small>
        </div>
        
        <div ng-if="pokemon.finalLevel && pokemon.finalHP && pokemon.finalCP">
            
            <div class="row">
                
                <div class="col-5"><strong>{{'pokemon_HP' | translate}}</strong></div>
                <div class="col-7 text-right">
                    {{pokemon.hp}}
                    <small class="text-muted">/ {{pokemon.finalHP}}</small>
                </div>
            </div>
            
            <div class="line-dashed"></div>
            
            <div class="row">
                
                <div class="col-5"><strong>{{'pokemon_LEVEL' | translate}}</strong></div>
                <div class="col-7 text-right">
                    {{pokemon.level}}
                    <small class="text-muted">/ {{pokemon.finalLevel}}</small>
                </div>
            </div>
            
            <div class="line-dashed"></div>
            
            <div class="row">
                
                <div class="col-5"><strong>{{'pokemon_CP' | translate}}</strong></div>
                <div class="col-7 text-right">
                    {{pokemon.cp}}
                    <small class="text-muted">/ {{pokemon.finalCP}}</small>
                </div>
            </div>
        
        </div>
        
        <div ng-if="pokemon.level < pokemon.finalLevel" class="alert alert-warning text-center p-1 mt-4 mb-2">
            <small>{{'pokemon_view_NOTMAX' | translate}}</small>
        </div>
        
        <div ng-if="pokemon.level >= pokemon.finalLevel" class="alert alert-success text-center p-1 mt-4 mb-0">
            <small>
                <i class="fa fa-star mr-1"></i>
                {{'pokemon_view_ONMAX' | translate}}
            </small>
        </div>
        
        <div ng-if="pokemon.finalLevel && pokemon.finalHP && pokemon.finalCP && (pokemon.level < pokemon.finalLevel)">
            
            <div class="row">
                
                <div class="col-7"><strong>{{'pokemon_STARDUSTREQUIRED' | translate}}</strong></div>
                <div class="col-5 text-right">
                    {{pokemon.requiredStardust}}
                </div>
            </div>
            
            <div class="line-dashed"></div>
            
            <div class="row">
                
                <div class="col-7"><strong>{{'pokemon_CANDIESREQUIRED' | translate}}</strong></div>
                <div class="col-5 text-right">
                    {{pokemon.requiredCandy}}
                </div>
            </div>

        </div>
 		
    </div>
    
</div>