<div class="card">
    
    <div class="card-header">
        
        <div class="title">
        
            <a ui-sref="app.pokemon.view({ref:data.pokemon.ref})" class="mr-2"><i class="fa fa-arrow-circle-left"></i></a>
            
            {{'pokemon_edit_TITLE' | translate}} {{data.pokemon.name}}
            
        </div>

    </div>

    <div class="card-block">
       
        <div ng-show="isLoading" class="text-center">
            <img src="/static/img/loading.gif" height="64" />
        </div>
        
        <div ng-show="!isLoading && !data.pokemon">{{'pokemon_view_NOPOKEMON' | translate}}</div>
        
        <form ng-show="!isLoading && data.pokemon" name="form" novalidate>
            
            <div class="form-group row">
                <label class="col-4 col-form-label text-right">{{'pokemon_NAME' | translate}}</label>
                <div class="col-8 pl-0">
                    <input type="text" class="form-control" ng-model="editModel.name">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-4 col-form-label text-right">{{'pokemon_CP' | translate}}</label>
                <div class="col-8 pl-0">
                    <input type="number" class="form-control" ng-model="editModel.cp">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-4 col-form-label text-right">{{'pokemon_HP' | translate}}</label>
                <div class="col-8 pl-0">
                    <input type="number" class="form-control" ng-model="editModel.hp">
                </div>
            </div>
            
            <div class="form-group row">
                <label class="col-4 col-form-label text-right">{{'pokemon_STARDUST' | translate}}</label>
                <div class="col-8 pl-0">
                    <input type="number" class="form-control" ng-model="editModel.stardust">
                </div>
            </div>
            
            <div class="row">
                <div class="offset-4 col-8 pl-0">
                    <button type="submit" class="btn btn-primary" ng-disabled="!editModel.name || !editModel.cp || !editModel.hp || !editModel.stardust" ng-click="edit(form);">{{'pokemon_edit_BTN' | translate}}</button>
               </div>
            </div>
            
        </form>
        
    </div>
    
</div>