<!doctype html>
<html ng-app="AngularApp">
	
	<head>
		
		<base href="/">
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<meta name="abstract" content="Store, appraise and share your favorite pokemons" />
		<meta name="keywords" content="pokemon, pokemon go, sharing, social network, iv, iv calculator" />
		<meta name="description" content="Store, appraise and share your favorite pokemons" />
		
		<title page-title=""></title>
		
		<link rel="shortcut icon" href="/static/front/img/logo.png" />
		
		<link rel="stylesheet" href="/static/front/css/concat.css" />
		
	</head>
	
	<body>
		
		<div class="main-wrapper" ui-view=""></div>
		

		<script>
		
		    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		    
		    ga('create', 'UA-100694155-1', 'auto');
		    ga('send', 'pageview');
		
		</script>

		<script src="/static/front/js/concat.js"></script>
		
	</body>
	
</html>