<!doctype html>
<html ng-app="AngularApp">
	
	<head>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<title page-title=""></title>
		
		<link rel="shortcut icon" href="/static/img/logo.png" />
		
		<link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/flag-icon-css/css/flag-icon.min.css" />
		<link rel="stylesheet" href="/static/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/static/angular-toastr/css/angular-toastr.min.css" />
		
		<link rel="stylesheet" href="/static/css/styles.css" />
		
	</head>
	
	<body>
		
		<div class="main-wrapper" ui-view=""></div>

		<script src="/static/tether/js/tether.min.js"></script>
		<script src="/static/jquery/js/jquery.min.js"></script>
		<script src="/static/angular/js/angular.min.js"></script>
		<script src="/static/bootstrap/js/bootstrap.min.js"></script>
		<script src="/static/satellizer/js/satellizer.min.js"></script>
		<script src="/static/angular-cookies/js/angular-cookies.min.js"></script>
		<script src="/static/angular-toastr/js/angular-toastr.tpls.min.js"></script>
		<script src="/static/angular-translate/js/angular-translate.min.js"></script>
		<script src="/static/angular-ui-router/js/angular-ui-router.min.js"></script>

		<script src="/static/scripts/app.js"></script>
		<script src="/static/scripts/services.js"></script>
		<script src="/static/scripts/directives.js"></script>
		<script src="/static/scripts/controllers.js"></script>
		
	</body>
	
</html>