<!doctype html>
<html ng-app="AngularApp">
	
	<head>
		
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<title page-title=""></title>
		
		<link rel="shortcut icon" href="/static/img/logo.png" />
		
		<link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css" />
		<link rel="stylesheet" href="/static/bower_components/angular-toastr/dist/angular-toastr.min.css" />
		
		<link rel="stylesheet" href="/static/css/flags.min.css" />
		<link rel="stylesheet" href="/static/css/styles.css" />
		
	</head>
	
	<body>
		
		<div class="main-wrapper" ui-view=""></div>

		<script src="/static/build/script.min.js"></script>

	</body>
	
</html>
